*{
    box-sizing: border-box;
}

*:focus {
    outline:none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a:focus,
button:focus,
input:focus,
input:active,
textarea:focus,
.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

input:focus,
input:active {
    border: 1.2px solid #6CB525 !important;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    background: #F3F9EC;
}

.navbar {
    margin: 0;
    padding: 0 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
}

.navbar-nav {
    padding: 0;
    margin-top: -2px;
}

.navbar .mx-auto .nav-item {
    padding: 0;
    margin: 0;
    margin-right: 5px;
    margin-bottom: -1px;
}

.navbar .mx-auto .nav-item .nav-link {
    letter-spacing: 0.02em;
    color: #6CB525;
    padding: 15px 25px;
}

.navbar .mx-auto .nav-item .nav-link img {
    width: 18px;
    height: 18px;
    margin-top: -3px;
    margin-right: 8px;
}

.navbar .mx-auto .nav-item .nav-link.overview img {
    content: url('../images/over-icon-gre.png');
}
.navbar .mx-auto .nav-item .nav-link.overview:hover img {
    content: url('../images/over-icon-whi.png');
}

.navbar .mx-auto .nav-item .nav-link.reports img {
    content: url('../images/repo-icon-gre.png');
}
.navbar .mx-auto .nav-item .nav-link.reports:hover img {
    content: url('../images/repo-icon-whi.png');
}

.navbar .mx-auto .nav-item .nav-link.riders img {
    content: url('../images/ride-icon-gre.png');
    margin-top: -1px;
}
.navbar .mx-auto .nav-item .nav-link.riders:hover img {
    content: url('../images/ride-icon-whi.png');
}

.navbar .mx-auto .nav-item .nav-link.users img {
    content: url('../images/user-icon-gre.png');
}
.navbar .mx-auto .nav-item .nav-link.users:hover img {
    content: url('../images/user-icon-whi.png');
}

.navbar .mx-auto .nav-item .nav-link.tracker img {
    content: url('../images/trac-icon-gre.png');
}
.navbar .mx-auto .nav-item .nav-link.tracker:hover img {
    content: url('../images/trac-icon-whi.png');
}

.navbar .mx-auto .nav-item .nav-link.crm img {
    content: url('../images/crm-icon-gre.png');
}
.navbar .mx-auto .nav-item .nav-link.crm:hover img {
    content: url('../images/crm-icon-whi.png');
}

.navbar .mx-auto .nav-item .nav-link:hover {
    background: #6CB525;
    color: #FFFFFF;
    opacity: .6;
}

.navbar .mx-auto .nav-item .nav-link.active {
    background: #6CB525;
    color: #FFFFFF;
    font-weight: bold;
}

.navbar .mx-auto .nav-item .nav-link.active:hover {
    background: #6CB525;
    color: #FFFFFF;
    opacity: 1;
}

.navbar .mr-right .nav-item.dropdown .username {
    color: #4B575C;
    font-weight: 400;
}

.navbar .mr-right .nav-item.dropdown img {
    width: 36px;
    margin-top: 0px;
    margin-right: 10px;
}

.navbar .mr-right .nav-item.dropdown i {
    color: #CCCFD4;
    margin-left: 7px;
    font-size: 0.8em;
}

.nav-item.dropdown .dropdown-menu {
    padding: 0;
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
    padding: 8px 15px;
    padding-top: 10px;
}

.nav-item.dropdown .dropdown-menu .dropdown-item:focus {
    background: transparent;
    color: #6CB525;
}

.nav-item.dropdown .dropdown-menu .dropdown-item img {
    width: 20px;
    margin-top: -2px;
    margin-bottom: 1px;
}

.main {
    padding-bottom: 80px;
    margin: 0 auto;
    margin-top: 60px;
    width: 80%;
}

.main .head-text {
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 0.01em;
    color: #4B575C;
    text-align: left;
    margin-bottom: 25px;
}

.main .box {
    width: 100%;
    border: 0.75px solid #E4E8E1;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 70px;
    text-align: center;
    color: #4B575C;
}

.main .box img {
    margin-bottom: 30px;
}

.main .box form {
    text-align: left;
}

.main .box .first-row {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-gap: 20px;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 20px;
}

.field label{
    font-weight: 400 !important;
    font-size: 1.05em;
    letter-spacing: 0.02em;
}

.field input {
    width: 100%;
    padding: 10px;
    border: 1.2px solid #E0E0E0;
    border-radius: 4px;
    letter-spacing: 0.02em;
}

.change {
    margin-top: 33px;
}

.change-btn {
    padding: 9px 15px;
    width: inherit;
    border: 2px solid #6CB525;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 0.02em;
    color: #6CB525 !important;
    cursor: pointer;
}

.main .box .second-row {
    display: grid;
    grid-template-columns: 4fr auto;
    grid-gap: 20px;
    margin: 0 auto;
    width: 70%;
    margin-top: 20px;
}

.modal.question .modal-header {
    background: #F9FBF8;
}

.modal.question .modal-header span {
    color: #262626;
    font-weight: bold;
    font-size: 1.1em;
}

.modal.question .modal-body {
    padding: 30px 50px;
    color: #4F4F4F;
    font-size: 1em;
}

.modal.question .modal-body .field {
    margin-bottom: 20px;
}

.modal.question .modal-body .save-changes-btn {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.02em;
    padding: 12px 40px;
    width: 100%;
    background: #6CB525;
    border: 1.2px solid #6CB525;
    border-radius: 4px;
}



/* Responsive Starts Here */

@media screen and (min-width: 1900px){
    .main {
        width: 1800px;
    }
}

@media screen and (max-width: 1199px){
    .navbar {
        padding: 10px 40px;
    }

    .navbar-toggler span img {
        width: 30px;
        margin-top: -3px;
    }

    .navbar .mr-right .dropdown {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .navbar .mr-right .dropdown-menu {
        width: 200px;
    }
}

@media screen and (max-width: 1140px){
    .main {
        width: 95%;
    }
}

@media screen and (max-width: 991px){
    .navbar-toggler span {
        color: #000;
    }

    .navbar .mr-right .dropdown {
        margin-bottom: 15px;
    }

    .navbar .mr-right .dropdown-menu {
        width: 200px;
    }
}

@media screen and (max-width: 922px){
    .navbar .mx-auto .nav-item {
        margin-right: 5px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 700px){
    .main .box {
        padding: 50px 20px;
    }

    .main .box .first-row {
        width: 100%;
    }

    .main .box .second-row {
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .navbar {
        padding: 10px 10px;
    }
}

@media screen and (max-width: 420px){
    .main .box {
        padding: 50px 10px;
    }

    .main .box .first-row {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-bottom: 40px;
    }

    .main .box .second-row {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-top: 30px;
    }

    .change {
        margin-top: 0px;
    }

    .modal.question .modal-body {
        padding: 30px;
    }
}